<div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
  <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16">
    <div class="mx-auto max-w-lg text-center lg:mx-0 lg:text-right">
      <h2 class="text-3xl font-bold sm:text-4xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

      <p class="mt-4 text-base-700">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor.
      </p>
      <%= link_to "Lorem Ipsum", new_user_session_path, class: "btn btn-primary mt-4" %>
    </div>

    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
      <div class="block rounded-xl border border-base-200 p-4 shadow-sm hover:border-base-300 hover:bg-neutral-content hover:ring-1 hover:ring-base-200 focus:outline-none focus:ring">
        <span class="inline-block rounded-lg bg-neutral-content p-3">
          <%= lucide_icon("pen") %>
        </span>

        <h2 class="mt-2 font-bold">Lorem ipsum dolor</h2>

        <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-base-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="block rounded-xl border border-base-200 p-4 shadow-sm hover:border-base-300 hover:bg-neutral-content hover:ring-1 hover:ring-base-200 focus:outline-none focus:ring">
        <span class="inline-block rounded-lg bg-neutral-content p-3">
          <%= lucide_icon("credit-card") %>
        </span>

        <h2 class="mt-2 font-bold">Lorem ipsum</h2>

        <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-base-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="block rounded-xl border border-base-200 p-4 shadow-sm hover:border-base-300 hover:bg-neutral-content hover:ring-1 hover:ring-base-200 focus:outline-none focus:ring">
        <span class="inline-block rounded-lg bg-neutral-content p-3">
          <%= lucide_icon("at-sign") %>
        </span>

        <h2 class="mt-2 font-bold">Lorem ipsum dolor sit</h2>

        <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-base-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="block rounded-xl border border-base-200 p-4 shadow-sm hover:border-base-300 hover:bg-neutral-content hover:ring-1 hover:ring-base-200 focus:outline-none focus:ring">
        <span class="inline-block rounded-lg bg-neutral-content p-3">
          <%= lucide_icon("check") %>
        </span>

        <h2 class="mt-2 font-bold">Lorem ipsum</h2>

        <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-base-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="block rounded-xl border border-base-200 p-4 shadow-sm hover:border-base-300 hover:bg-neutral-content hover:ring-1 hover:ring-base-200 focus:outline-none focus:ring">
        <span class="inline-block rounded-lg bg-neutral-content p-3">
          <%= lucide_icon("lock") %>
        </span>

        <h2 class="mt-2 font-bold">Lorem ipsum dolor</h2>

        <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-base-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="block rounded-xl border border-base-200 p-4 shadow-sm hover:border-base-300 hover:bg-neutral-content hover:ring-1 hover:ring-base-200 focus:outline-none focus:ring">
        <span class="inline-block rounded-lg bg-neutral-content p-3">
          <%= lucide_icon("move-right") %>
        </span>

        <h2 class="mt-2 font-bold">Lorem ipsum dolor sit amet</h2>

        <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-base-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="block rounded-xl border border-base-200 p-4 shadow-sm hover:border-base-300 hover:bg-neutral-content hover:ring-1 hover:ring-base-200 focus:outline-none focus:ring">
        <span class="inline-block rounded-lg bg-neutral-content p-3">
          <%= lucide_icon("car") %>
        </span>

        <h2 class="mt-2 font-bold">Lorem ipsum dolor sit amet</h2>

        <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-base-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="block rounded-xl border border-base-200 p-4 shadow-sm hover:border-base-300 hover:bg-neutral-content hover:ring-1 hover:ring-base-200 focus:outline-none focus:ring">
        <span class="inline-block rounded-lg bg-neutral-content p-3">
          <%= lucide_icon("check") %>
        </span>

        <h2 class="mt-2 font-bold">Lorem ipsum dolor sit</h2>

        <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-base-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
</div>