<section>
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <h2 class="text-center text-4xl font-bold tracking-tight sm:text-5xl">
      Read trusted reviews from our customers
    </h2>

    <div class="mt-8 [column-fill:_balance] sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8">
      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-200">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa sit rerum incidunt, a
            consequuntur recusandae ab saepe illo est quia obcaecati neque quibusdam eius accusamus
            error officiis atque voluptates magnam!
          </p>
        </blockquote>
      </div>

      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-600">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad mollitia rerum quo unde
            neque atque molestias quas pariatur! Sint, maxime?
          </p>
        </blockquote>
      </div>

      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-700">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse delectus,
            maiores fugit, reiciendis culpa inventore sint accusantium libero dolore eos quasi a ex
            aliquam molestiae. Tenetur hic delectus maxime.
          </p>
        </blockquote>
      </div>

      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-700">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, fuga?
          </p>
        </blockquote>
      </div>

      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-700">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate officia natus
            blanditiis rerum incidunt ex autem repudiandae doloribus eveniet quia? Culpa commodi
            quae atque perspiciatis? Provident, magni beatae saepe porro aspernatur facere neque
            sunt possimus assumenda perspiciatis aperiam quisquam animi libero voluptatem fuga.
            Repudiandae, facere? Nemo reprehenderit quas ratione quis.
          </p>
        </blockquote>
      </div>

      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-700">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, rerum. Nobis laborum
            praesentium necessitatibus vero.
          </p>
        </blockquote>
      </div>

      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-700">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores quaerat quasi ipsa
            repellendus quam! Beatae pariatur quia distinctio fugit repellendus repudiandae nostrum
            consectetur quibusdam quo.
          </p>
        </blockquote>
      </div>

      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-700">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, modi!
          </p>
        </blockquote>
      </div>

      <div class="mb-8 sm:break-inside-avoid">
        <blockquote class="rounded-lg bg-base-200 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-14 rounded-full object-cover"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-accent">
                <% 5.times do %>
                    <%= lucide_icon("star") %>
                <% end %>
              </div>

              <p class="mt-0.5 text-lg font-medium">Paul Starr</p>
            </div>
          </div>

          <p class="mt-4 text-base-700">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam numquam, unde molestiae
            commodi temporibus dicta.
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>