<footer class="footer bg-base-200 text-base-content p-10">
  <aside>
    <%= image_tag 'logo.png', alt: 'Logo', class: 'fill-current h-8' %>
    <p>
      ACME Industries Ltd.
      <br />
      Providing reliable tech since 1992
    </p>
    <%= link_to "🚀 Powered by LightningRails", "https://lightningrails.com", class: 'btn btn-neutral' %>
  </aside>
  <nav>
    <h6 class="footer-title">Services</h6>
    <%= link_to 'Branding', '#', class: 'link link-hover' %>
    <%= link_to 'Design', '#', class: 'link link-hover' %>
    <%= link_to 'Marketing', '#', class: 'link link-hover' %>
    <%= link_to 'Advertisement', '#', class: 'link link-hover' %>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <%= link_to 'About us', '#', class: 'link link-hover' %>
    <%= link_to 'Contact', '#', class: 'link link-hover' %>
    <%= link_to 'Jobs', '#', class: 'link link-hover' %>
    <%= link_to 'Press kit', '#', class: 'link link-hover' %>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <%= link_to 'Terms of use',  terms_and_conditions_path, class: 'link link-hover' %>
    <%= link_to 'Privacy policy', privacy_policy_path, class: 'link link-hover' %>
    <%= link_to 'Cookie policy', cookies_path, class: 'link link-hover' %>
  </nav>
</footer>