<div class="navbar bg-base-100 z-50">
    <div class="flex-1">
        <%= link_to root_path, class: "btn btn-ghost text-xl" do %>
            <%= image_tag "logo.png", alt: "Logo", class: "h-8" %>
            LightningRails
        <% end %>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
        <li><%= link_to "A Link", root_path %></li>
        <% if user_signed_in? %>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
        <li>
            <details>
            <summary>Parent</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
                <li><%= link_to "Child 1", "#" %></li>
                <li><%= link_to "Child 2", "#" %></li>
            </ul>
            </details>
        </li>
        <li>
            <%= link_to "Start now", "#", class: "btn btn-sm btn-outline btn-primary" %>
        </ul>
    </div>
</div>